*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*inicio de header*/
.header {
    width: 80%;
    height: 4em;
    background-color: rgb(241, 232, 134);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    object-fit: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



}


/*inicio de naver*/
.naver {
    width: 80%;
    height: 3em;
    background-color: rgb(43, 23, 194);
}


.barnav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 20%;
    height: 100%;
    background-color: black;
    color: rgb(230, 241, 239);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}
.menu:hover {
    background-color: rgb(33, 216, 72);
    color:black;
    transition: 0.5s;
}
.pagina a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

}
.pagina a:hover{
    background-color: rgb(33, 216, 72);
    color:black;
    transition: 0.5s;
}
.pagina{
    width: 20%;
height: 100%;
background-color: black;
color: white;
text-decoration: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 1.5em;

}

/*inicio de banner*/
.banner {
    width: 80%;
    height: calc(100vh - 7em);
    background-color: rgb(243, 103, 241);

    /*para el banner una imagen*/
    background-image: url(imagenes/...);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-banner{
    font-size: 3em;
}
.btn-banner{
    background-color: rgb(235, 51, 238);
    color: rgb(244, 238, 235);
    font-size: 20px;
    text-decoration: none;
    padding: 1em 4em;
    margin: 1em;
}
.btn-banner:hover{
    background-color: rgb(222, 231, 208);
    color: rgb(23, 8, 1);
    transition: O,15;
    border-radius: 0,5PX;
}


/*inicio de article*/
.article {
    width: 80%;
    height: 100vh;
    background-color: rgb(241, 202, 109);
    padding: 1em 4 em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-article {
font-size: 20px;

}

.parrafo-article{
font-size: 1,25em;
width: 80%;
text-align: justify;
margin: 2em 2em;
}

.galery{
    width: 80%;
    height: 40%;
    background-color: rgb(204, 157, 249);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.box-galery {
    width: 20%;
    height: 100%;
    background-color: rgb(61, 227, 133);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.box-img {
 width: 80%;
height: 60%;
background-color: blanchedalmond;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.btn-img {
    background-color: rgb(235, 51, 238);
color: rgb(244, 238, 235);
font-size: 20px;
text-decoration: none;
padding: 10px 10px;
margin: 0.5em;


}

.btn-img:hover {
    background-color: rgb(222, 231, 208);
    color: rgb(23, 8, 1);
    transition: O,15;
    border-radius: 6px;

}


.footer{
    width: 80%;
    height: 4em;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: seashell;

}

.text-footer{
    font-size: 2em;
}


    





/*inicio de footer*/
.footer {
    width: 80%;
    min-height: 3em;
    background-color: rgb(243, 157, 157);
}
